@using Microsoft.AspNetCore.Identity
@model MyWritingPlatform.ViewModels.ChangeRoleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">Изменение ролей для пользователя @Model.UserEmail</h2>
<hr />
<div class="col g-4">
    <form class="needs-validation" novalidate asp-action="Edit" method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="form-group">
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="roles" value="@role.Name"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                }
        </div>
        <button type="submit" style="border-radius:8px;" class="btn btn-primary">Сохранить</button>
    </form>
</div>
<br />
<div>
    <a style="margin-left: 10px; border-radius: 6px;" class="btn btn-info btn-sm" asp-action="Index">Back to List</a>
</div>

