@model MyWritingPlatform.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var k = 0;
}

<h1 style="text-align:center;">Удаление публикации</h1>

<h3 style="margin-left:40px;">Вы уверены, что хотите удалить это?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImgPost)
                </dt>
                <dd class="col-sm-10">
                    <img src=@Model.ImgPost class="rounded-circle d-block" alt="ImgPost" style="width: 70px;" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Published)
                </dt>
                <dd class="col-sm-10">
                    @Model.Published.ToLongDateString()
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Censor)
                </dt>
                <dd class="col-sm-10">
                    @((Model.Censor==false)? "Не проверена!": "Проверена!")
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Login)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Login)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tags)
                </dt>
                <dd class="col-sm-10">
                    <select class="form-select" required aria-label="select example">
                        @foreach (var it in Model.Tags)
                        {
                            <option value="@k++">@it.Name</option>
                        }
                    </select>
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" style="border-radius:8px;" value="Delete" class="btn btn-danger" />
                <a class="btn btn-info btn-sm" style="border-radius:6px;" asp-action="Index">Back to List</a>

            </form>
        </div>
    </div>
</div>