@model MyWritingPlatform.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1 style="text-align:center;">Удаление аккаунта</h1>

<h3 style="margin-left:30px;">Вы действительно хотите удалить свой аккаунт?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Avatar)
                </dt>
                <dd class="col-sm-10">
                    <img src=@Model.Avatar class="rounded-circle d-block" alt="avatar" style="width: 70px;" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Login)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Login)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateTimeRegister)
                </dt>
                <dd class="col-sm-10">
                    @Model.DateTimeRegister.ToLongDateString()
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" style="border-radius:8px; margin-left:30px;" value="Delete" class="btn btn-danger" />   
        <a class="btn btn-info btn-sm" style="border-radius:6px;" asp-action="Index">Back to List</a>
    </form>
</div>
