@model MyWritingPlatform.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1 style="text-align:center;">Данные пользователя</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Avatar)
                </dt>
                <dd class="col-sm-10">
                    <img src=@Model.Avatar class="rounded-circle d-block" alt="avatar" style="width: 70px;" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Login)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Login)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateTimeRegister)
                </dt>
                <dd class="col-sm-10">
                    @Model.DateTimeRegister.ToLongDateString()
                </dd>
            </dl>
        </div>
    </div>
</div>


<br />
<div>
    <a style="margin-left: 60px; border-radius: 6px;" class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info btn-sm" style="border-radius:6px;" asp-action="Index">Back to List</a>
</div>
