@model IEnumerable<MyWritingPlatform.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var k = 0;
}

<h1 style="text-align:center;">Список публикаций</h1>
<div class="col g-4">
    <p>
        <a class="btn btn-success btn-sm" style="border-radius:6px;" asp-controller="AdminDashboard" asp-action="CreatePost">Создать новую публикацию</a>
    </p>
    <table class="table table-striped table-success table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImgPost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Published)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Censor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src=@item.ImgPost class="rounded-circle d-block" alt="ImgPost" style="width: 70px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @item.Published.ToLongDateString()
                    </td>
                    <td>
                        @((item.Censor==false)? "Не проверена!": "Проверена!")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Login)
                    </td>
                    <td>
                        <select class="form-select" required aria-label="select example">
                            @foreach (var it in item.Tags)
                            {
                                <option value="@k++">@it.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" style="border-radius:6px;" asp-action="EditPost" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary btn-sm" style="border-radius:6px;" asp-action="DetailsPost" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger btn-sm" style="border-radius:6px;" asp-action="DeletePost" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>